<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="YandexMusicTestSuite" parallel="tests" thread-count="1">
    
    <!-- Тест открытия Яндекс.Музыка -->
    <test name="YandexMusicTest" parallel="methods" thread-count="1">
        <classes>
            <class name="com.example.tests.YandexMusicTest"/>
        </classes>
    </test>
    
</suite> 