<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SberbankTestSuite" parallel="tests" thread-count="1">
    <test name="SberbankTest" parallel="methods" thread-count="1">
        <classes>
            <class name="com.example.tests.SberbankTest"/>
        </classes>
    </test>
</suite> 